{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <a href="/nova-conferencia"
                class="btn btn-cyan d-none d-md-inline-block text-white">
                Nova Conferência        
             </a>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Conferências</h4>
                        <h6 class="card-subtitle">Conferências cadastradas</h6>
                        <div class="table-responsive">
                            <table class="table user-table">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Nome</th>
                                        <th class="border-top-0">Data</th>
                                        <th class="border-top-0">Local</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for conferencia in conferencias %}
                                    <tr data-conference-id="{{ conferencia.id }}">
                                        <td>{{ conferencia.nome }}</td>
                                        <td>{{ conferencia.data }}</td>
                                        <td>{{ conferencia.local }}</td>
                                        <td>
                                            <button class="update-btn">Atualizar</button>
                                            <button class="delete-btn">Remover</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

{% endblock content %}

{% block javascripts %}
<script>
window.onload = function() {
    var deleteButtons = document.getElementsByClassName('delete-btn');
    var updateButtons = document.getElementsByClassName('update-btn');

    for (var i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener('click', function(e) {
            var conferenciaId = e.target.parentElement.parentElement.dataset.conferenceId;
            var confirmation = confirm('Você tem certeza que deseja remover esta Conferência?');
            if (confirmation) {
                fetch('/delete/conferencia/' + conferenciaId, {
                    method: 'DELETE'
                }).then(function(response) {
                    if (response.ok) {
                        setTimeout(function() {
                            location.reload();
                        }, 1000);
                    } else {
                        console.log('Delete request failed');
                    }
                });
            }
        });

        updateButtons[i].addEventListener('click', function(e) {
            var conferenciaId = e.target.parentElement.parentElement.dataset.conferenceId;
            window.location.href = '/update/?objeto=conferencia&objeto_id=' + conferenciaId;
        });
    }
};
</script>
{% endblock javascripts %}
